<%= form_with model: user, local: true do |f| %>

<div class="field">
  <%= f.label :email, class: "label" %>
  <%= f.text_field :email, class: "control input" %>
</div>


<div class="field">
  <%= f.label :username, class: "label" %>
  <%= f.text_field :username, class: "control input" %>
</div>

<div class="field">
  <%= f.label :password, class: "label" %>
  <%= f.password_field :password, class: "control input" %>
</div>

<div class="field">
  <%= f.label :password_confirmation, "Confirm Password", 
              class: "label" %>
  <%= f.password_field :password_confirmation, class: "control input" %>
</div>

<div class="field">
  <% if user.new_record? %>
    <%= f.submit "Create Account", class: "control button is-primary has-text-weight-semibold" %>
  <% else %>
        <%= f.submit "Update Profile", class: "control button is-primary has-text-weight-semibold" %>
  <% end %>
</div>

<% end %>