<div class="column is-3-desktop is-4-tablet">
  <div id="test" class="card">
    <div class="card-image">
      <figure class="image is-1by1">
        <%= link_to image_tag(p.playlist_image), p %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6 has-text-weight-bold"><%= pretty_title(p.name) %></p>
          <p class="subtitle is-6"><%= p.tracks.size %> tracks</p>
          <div class="level is-mobile">
            <div class="level-left">
              <% unless session[:spotify_user].nil? %>
                <div class="level-item mr-1">
                  <%= turbo_frame_tag "#{dom_id(p)}_follow_button" do %>
                    <% if follows && follows.include?(p.id) %>
                      <%= button_to "Unfollow", unfollow_path(p), class: "button is-danger is-small", 
                      method: :delete %>
                    <% elsif current_user %>
                      <%= button_to "Follow on Spotify", follow_path(p), class: "button is-success is-small" %>
                    <% end%>
                  <% end %>
                </div>
              <% end %>
              <div class="level-item">
                <%= turbo_frame_tag "#{dom_id(p)}_like_button" do %>
                  <% if likes && likes.include?(p.id) %>
                      <%= button_to "Unlike", unlike_path(p), class: "button is-link is-small", 
                          "data-turbo-frame": "#{dom_id(p)}_likes", method: :delete %>
                  <% elsif current_user %>
                      <%= button_to "Like ❤️", like_path(p), class: "button is-link is-small", 
                          "data-turbo-frame": "#{dom_id(p)}_likes" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="level-right">
            </div>
          </div>   
          <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
                <p class="is-size-7 is-family-secondary">
                Added <%= time_ago_in_words p.created_at %> ago
                </p>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="is-size-7">
                  <%= turbo_frame_tag "#{dom_id(p)}_likes" do %>
                    <%= render partial: "likes/like_count", locals: { p: p } %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>


