<div class="hero-body">
  <div class="columns is-multiline">
    <% @playlist.each do |p| %>
      <div class="column is-one-fifth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1">
                <%= link_to image_tag(p.image_url), p %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6 has-text-weight-bold"><%= pretty_title(p.name) %></p>
                  <p class="subtitle is-6"><%= p.tracks.size %> tracks</p>
                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <p class="is-size-7">
                          <%= p.likes.size %> likes
                        </p>
                      </div>
                    </div>
                    <div class="level-right">
                      <div class="level-item">
                        <% unless session[:spotify_user].nil? %>
                          <% if current_user && @follows.include?(p.id) %>
                            <%= button_to "Unfollow", unfollow_path(p), class: "button is-danger is-small", 
                            method: :delete %>
                          <% elsif current_user %>
                            <%= button_to "Follow on Spotify", follow_path(p), class: "button is-success is-small" %>
                          <% end%>
                        <% end %>
                      </div>
                      <div class="level-item">
                        <% if current_user && @likes.include?(p.id) %>
                          <%= button_to "Unlike", unlike_path(p), class: "button is-link is-small",
                              method: :delete %>
                        <% elsif current_user %>
                          <%= button_to "Like â¤ï¸", like_path(p), class: "button is-link is-small" %>
                        <% end %>
                      </div>
                    </div>
                  </div>   
                  <div class="content">
                    <p class="is-size-7 is-family-secondary">
                      Added <%= time_ago_in_words p.created_at %> ago
                    </p>
                  </div>   
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
    <%= will_paginate @playlist, class: "apple_pagination" %>
</div>
