<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @playlist.name %>
      </h1>
    </div>
  </div>
</section>
<section class="section">
<div class="columns">
  <div class="column is-half">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>
        <% @tracks.each do |track| %>
          <tr>
            <td class="is-flex is-align-items-center">
              <%= inline_svg_tag "youtube.svg", size: "3%" %>
              <span style="display: inline-block; width: 0.5rem"></span>
              <%= youtube_search_link(track) %>
            </td>
            <td><%= track.artist %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= button_to "Delete Playlist", playlist_path, method: :delete,
    data: { confirm: "Are you sure?" }, class: "button is-danger" %>
</section>
